machine_id=
default_voice_port={{getenv "9987_UDP_PORT"}}
voice_ip=0.0.0.0
licensepath=
filetransfer_port={{getenv "30033_TCP_PORT"}}
filetransfer_ip=0.0.0.0
query_port={{getenv "10011_TCP_PORT"}}
query_ip=0.0.0.0
dbplugin=ts3db_sqlite3
dbpluginparameter=
dbsqlpath=sql/
dbsqlcreatepath=create_sqlite/
logpath=/opt/data/logs
logquerycommands=1
